@font-face
{
  font-family: AlexBrush;
  src: url(../fonts/AlexBrush-Regular.ttf);
}

@font-face
{
  font-family: Calligraffitti;
  src: url(../fonts/Calligraffitti.ttf);
}

@font-face
{
  font-family: Pacifico;
  src: url(../fonts/Pacifico.ttf);
}

//@font-face {
//  font-family: 'Ubuntu';
//  font-style: normal;
//  font-weight: 500;
//  src: url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/OsJ2DjdpjqFRVUSto6IffLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
//}

//@font-face {
//  font-family: 'Josefin Sans';
//  src: url(http://fonts.googleapis.com/css?family=Josefin+Sans);
//}
@import "app";

.cursive{
  font-family: 'AlexBrush',sans-serif;
  font-size: 2em;
  color: #FFFFFF;
}

.appName{
  font-family: "Pacifico", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style: cursive;
  font-size: 3em;
  color: #ffb058;
}

.appHeading{
  margin-top:15%;
}

.centerText{
  text-align: center;
}

.center{
  margin-left:auto;
  margin-right:auto;
  width:90%;
  text-align: center;
}

.bottom{
  position:absolute;
  bottom:0;
}

.rightText{
  text-align: right;
}

.textured_stripes{
  background:url(../images/general/textured_stripes.png);
}

.textured_paper{
  background:url(../images/general/exclusive_paper.png);
}

.textured_giftly{
  background-image: url(../images/general/giftly_2.png);

}

.textured_cartographer{
  background:url(../images/general/cartographer.png);
}

.textured_photography{
  background:url(../images/general/photography.png);

}

.backgroundImage{
  background:url(../images/general/bgImage1.jpg);
}

.imageWidth{
  max-width: 100%;
  max-height: 100%;
}

.gradientBackground{
  //  /* IE10 Consumer Preview */
  //  background: -ms-radial-gradient(center, circle farthest-corner, #EBEBEB 0%, #E0CECE 100%);
  //
  //  /* Mozilla Firefox */
  //  background: -moz-radial-gradient(center, circle farthest-corner, #EBEBEB 0%, #E0CECE 100%);
  //
  //  /* Opera */
  //  background: -o-radial-gradient(center, circle farthest-corner, #EBEBEB 0%, #E0CECE 100%);
  //
  //  /* Webkit (Safari/Chrome 10) */
  //  background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #EBEBEB), color-stop(1, #E0CECE));
  //
  //  /* Webkit (Chrome 11+) */
  //  background: -webkit-radial-gradient(center, circle farthest-corner, #EBEBEB 0%, #E0CECE 100%);
  //
  //  /* W3C Markup, IE10 Release Preview */
  //  background: radial-gradient(circle farthest-corner at center, #EBEBEB 0%, #E0CECE 100%);
}

.transparent{
  background: none;
}



.gradientBackgroundGrayWhite{
  /* IE10 Consumer Preview */
  background: -ms-linear-gradient(left, #CFCFCF 0%, #999999 100%);

  /* Mozilla Firefox */
  background: -moz-linear-gradient(left, #CFCFCF 0%, #999999 100%);

  /* Opera */
  background: -o-linear-gradient(left, #CFCFCF 0%, #999999 100%);

  /* Webkit (Safari/Chrome 10) */
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #CFCFCF), color-stop(1, #999999));

  /* Webkit (Chrome 11+) */
  background: -webkit-linear-gradient(left, #CFCFCF 0%, #999999 100%);

  /* W3C Markup, IE10 Release Preview */
  background: linear-gradient(to right, #CFCFCF 0%, #999999 100%);
}

.blurred-background-blackMagenta{
//  background: url('../images/general/icons-asphalt.jpg') no-repeat fixed;
//  background-size: cover;
//  opacity:0.9;
}

.transparentBackground{
  background-color: rgba(255, 255, 255, 0.1);
}

.loaderContainer{
  position:fixed;
  font-size: 2em;
  left:49%;
}

.adsContent{
  height:60px;
  font-size:16px;
  overflow:hidden;
  font-style: oblique;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.1);
}

