@font-face
{
  font-family: AlexBrush;
  src: url(../fonts/AlexBrush-Regular.ttf);
}

@font-face
{
  font-family: Calligraffitti;
  src: url(../fonts/Calligraffitti.ttf);
}

@font-face
{
  font-family: Pacifico;
  src: url(../fonts/Pacifico.ttf);
}

@font-face
{
  font-family: Capriola;
  src: url(../fonts/Capriola-Regular.ttf);
}


@import "app";


.appHeading{
  margin-top:3%;
}


.cursive_heading{
  font-family: 'AlexBrush',sans-serif;
  font-size: 2em;
  color: #419AB1;
}

.cursive{
  font-family: 'Pacifico',sans-serif;
  color: #E05A48;
}

.cursive_button{
  font-family: 'Capriola',sans-serif;
  color: #E05A48;
  font-size: 1.3em;
}


.captions{
  font-family: 'Pacifico',sans-serif;
  color:#000000;
  font-size:.7em;
  opacity: .3;
  height: 0.7em;
}

.appName{
  font-family: "Pacifico", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style: cursive;
  font-size: 3em;
  color: #2E2E2E;
}



.centerText{
  width: 100%;
  text-align: center;
}

.center{
  margin-left:auto;
  margin-right:auto;
  width:98%;
  text-align: center;
}

.bottom{
  position:fixed;
  bottom:0;
  margin: 0px;
  padding: 0px;
}


.alignleft {
  float: left;
  width:33.33333%;
  text-align:left;
}

.aligncenter {
  float: left;
  width:33.33333%;
  text-align:center;
}

.alignright {
  float: left;
  width:33.33333%;
  text-align:right;

}​




.textured_stripes{
  background:url(../images/general/exclusive_paper.png);
}

.textured_paper{
  background:url(../images/general/exclusive_paper.png);
}

.textured_giftly{
  background-image: url(../images/general/giftly_2.png);

}

.textured_cartographer{
  background:url(../images/general/cartographer.png);
}

.textured_photography{
  background: url(../images/general/photography.png);
}

.mainSlide{
  width:100%;
  height:45%;
  overflow: hidden;
}

.circular {
  margin-top: 8px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
//  background: url(http://link-to-your/image.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


.transparent{
  background: none;
}


.transparentBackground{
  background-color: rgba(255, 255, 255, 0.1);
}

.loaderContainer{
  position:fixed;
  font-size: 2em;
  left:49%;
}

.adsContent{
  height:60px;
  font-size:16px;
  overflow:hidden;
  font-style: oblique;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.1);
}

