<ion-view title="User Login">
    <ion-content scroll="false" overflow-scroll="false" padding="true" has-header="true" class="textured_photography">
        <br/>

        <div class="list ">
            <label class="item item-input transparent">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Enter Username" ng-model="user.username">
            </label>
            <label class="item item-input transparent">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Enter Password" ng-model="user.password">
            </label>

            <br/>
            <button class="button-block button button-stable" ng-click="login(user)">Login</button>

        </div>
    </ion-content>
</ion-view>
