<ion-tabs class="tabs-icon-left tabs-dark">
    <ion-tab title="Recommended" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ui-sref="home.all.recommended">
        <!-- Tab 1 content -->
        <ion-nav-view name="tab-recommended"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Nearby" icon-on="ion-ios7-location" icon-off="ion-ios7-location-outline" ui-sref="home.all.nearby">
        <!-- Tab 2 content -->
        <ion-nav-view name="tab-nearby"></ion-nav-view>
    </ion-tab>
</ion-tabs>