<ion-view hide-nav-bar="true">
    <!--<ion-content scroll="false" has-header="false" overflow-scroll="false" class="blurred-background-blackMagenta">-->
    <ion-pane class="textured_giftly">
        <div class="center">

            <div class="appHeading">

                <h2 class="appName">WhatsAround</h2>
                <h4 class="cursive">Know your local market place</h4>

            </div>

            <div class=" center bottom">
                <hr/>
                <button class="button button-block icon-left ion-social-facebook button-positive">
                    <!--<div class="center">-->
                        Facebook
                    <!--</div>-->
                </button>

                <button class="button button-block icon-left ion-social-googleplus button-assertive">
                    <div class="center">
                        Google
                    </div>
                </button>
                <hr/>

                <button class="icon-left transparentBackground ion-android-contact button button-block  button-stable" ui-sref="login">
                    Login
                </button>

                <button class="icon-left ion-android-add-contact button button-block button-energized" ui-sref="signup">
                    Sign up
                </button>

                <button class="button button-clear button-light">
                    Skip Login
                </button>
            </div>
        </div>
    </ion-pane>
    <!--</ion-content>-->
</ion-view>